.left-column {
    background-color: rgb(99, 175, 233);
    padding: 250px;

    .title {
        text-align: justify;
        padding-left: 150px;
        font-size: 50px;
        font-weight: 600;
        margin-bottom: 60px;
        color: white;
    }
    .description {
        text-align: justify;
        padding-left: 150px;
        font-size: 15px;
        font-weight: 400;
        color: white;
    }
}

.right-column {
    background-color: rgb(50, 147, 221);
    padding: 450px;

    .right-row {
      display: flex;
      align-items: center;
      gap: 24px;
    }

    .photo {
      .my_photo {
        width: 200px;
        height: auto;
        display: block;
        object-fit: cover;
        border-radius: 8px;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    .email-text { color: white; }
    .email-button { width: max-content; text-transform: none; }
}