/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html, body {
  height: 100%;
  font-family: 'Roboto', system-ui, -apple-system, "Segoe UI", Arial, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: visible;
  overflow-y: visible;
}

html, body, app-root, #app-root, main {
  overflow-x: visible !important;
  overflow-y: visible !important;
}

html {
  scroll-behavior: smooth;
}
