.main-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 600px;

    .name{
        padding-top: 200px ;
        font-weight: 700;
        font-size: 50px;
        color: white;
    }

    .role{
        font-size: 1.2rem;
        margin-top: 0.25rem;
        opacity: 0.9;
        color: white;
    }
}